<h1>日 記 を 書 こ う 📗</h1>
<div style="position:absolute; top:200px; left:360px;"><%= image_tag 'バイバイケアマックス２.gif',:width => 250  %></div>
<div style="position:absolute; top:120px; left:470px;"><%= image_tag '何でも書いてね.gif',:width => 200  %></div>


<%= render 'form', diary: @diary %>

<%= link_to '戻る', diaries_path %>
