<div align="center" style="margin-top:180px;">
<h1>日 記 を 書 こ う 📗</h1>
<div style="position:absolute; top:500px; left:80px;"><%= image_tag 'バイバイケアマックス２.gif',:width => 250  %></div>
<div style="position:absolute; top:430px; left:200px;"><%= image_tag '何でも書いてね.gif',:width => 200  %></div>


<%= render 'form', diary: @diary %>

<%= link_to '戻る', diaries_path %>
