<h1>１月</h1>
<%= high_chart("my_chart", @chart) %>
<h2><%= link_to '戻る', home_chart_path %></h2>

<div style="position:absolute; top:518px; left:200px;"><%= image_tag 'ステップケアマックス.gif',:width => 150 %></div>
<div style="position:absolute; top:500px; left:-100px;"><%= image_tag '線.gif',:width => 1500 %></div>
