<h1>６月</h1>
<%= high_chart("my_chart", @chart) %>

<div style="position:absolute; top:420px; left:-100px;"><%= image_tag '線.png',:width => 1500 %></div>
<div style="position:absolute; top:558px; left:200px;"><%= image_tag 'ステップケアマックス.gif',:width => 150 %></div>
<div style="position:absolute; top:430px; left:50px;"><%= link_to image_tag("戻る１.gif"),:width => 0 ,:action => "chart" %></div>
