<font size = "7"><font color = lightcoral><div align="center" style="margin-top:50px;">ケアマックス</div></font></font>
<div align="center" style="margin-top:135px;">
<p>こんにちは。</p>
<p>ケアマックスでは、</p>
<p>自分の気持ちを登録したり</p>
<p>気持ちをグラフに表したり</p>
<p>予定や日記を書いたりして</p>
<p>自分の気持ちをケアすることができます。</p>
<font color = 0095d9><p>※画面サイズを最大にしてご利用ください。</p>
<br><div align="center"><h2><%= link_to 'MENU', home_menu_path %></h2></div>
<div style="position:absolute; top:490px; left:1170px;"><%= image_tag 'ケアマックス白抜き.gif',:width => 180  %></div>
<div style="position:absolute; top:420px; left:1000px;"><%= image_tag 'こんにちはpink.gif',:width => 200 %></div>
</body>