<font size = "7"><font color = pink><div align="center">ケアマックス</div></font></font>
<br><div align="center"><h2><%= link_to 'MENU', home_menu_path %></h2></div>
<div style="position:absolute; top:150px; left:700px;"><%= image_tag 'ケアマックス.jpg',:width => 180  %></div>
<div style="position:absolute; top:140px; left:500px;"><%= image_tag '吹き出し.jpg',:width => 200 %></div>