<h1>ãƒ¡ãƒ‹ãƒ¥ãƒ¼</h1>

<p><h2><%= link_to 'ðŸ’—ã€€ä»Šã®æ°—æŒã¡ç™»éŒ²', hearts_path %></h2></p>
<p><h2><%= link_to 'ðŸ‘€ã€€ã‚°ãƒ©ãƒ•ã‚’è¦‹ã‚‹', home_chart_path %></h2></p>
<p><h2><%= link_to 'ðŸ“—ã€€äºˆå®šãƒ»æ—¥è¨˜ã‚’æ›¸ã', home_calendar_path %></h2></p>

<p><%= link_to 'ãƒ¡ã‚¤ãƒ³ã«æˆ»ã‚‹', home_main_path %></p>