<h1>メニュー</h1>
#<p>Find me in app/views/home/main.html.erb</p>
<%= link_to '今の気持ち登録', hearts_path %>
<%= link_to 'グラフを見る', plans_path %>
<%= link_to '日記更新', home_calendar_path %>

<%= link_to 'メイン画面に戻る', home_main_path %>