<h1><%= @push_day %></h1>

<h1><a href = "http://localhost:3000/plans">予定を書く？</a>  or  <a href = "http://localhost:3000/diaries">日記を書く？</a></h1>
<p><a href = "http://localhost:3000/home/calendar">カレンダーに戻る</a></p>
<p><a href = "http://localhost:3000/home/menu">メニューに戻る</a></p>
