<div align="center" style="margin-top:290px;"><h1><%= @push_day %></h1>
<div style="position:absolute; top:200px; left:-80px;"><%= image_tag '横からケアマックス.gif',:width => 300  %></div>
<div style="position:absolute; top:150px; left:160px;"><%= image_tag 'セレクト画面吹き出し.gif',:width => 260  %></div>


<h1><a href = "http://localhost:3000/plans">予定を書く？</a>  or  <a href = "http://localhost:3000/diaries">日記を書く？</a></h1>
<p><a href = "http://localhost:3000/home/calendar">カレンダーに戻る</a></p>
<p><a href = "http://localhost:3000/home/menu">メニューに戻る</a></p></div>
