<h1><%= @push_day %></h1>
<style type="text/css">
<!--
a:link {
text-decoration:none;
color:#000000;
}
a:visited {
text-decoration:none;
color:#000000;
}
a:active {
text-decoration:none;
color:#000000;
}
a:hover {
text-decoration:none;
color:#b0c4de;
}
-->
</style>
<p><a href = "http://localhost:3000/plans"><h1>予定をかく？</h1></a>  or  <a href = "http://localhost:3000/diaries"><h1>日記をかく？</h1></a></p>
<p><a href = "http://localhost:3000/home/menu">メニューに戻る</a></p>
