@font-face {
  font-family: 'Rounded';
  src: font-url('rounded-x-mplus-1p-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rounded2';
  src: font-url('rounded-x-mplus-1p-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
	font-family: 'Rounded2';
}

body {
  background-color:#dbffb7!important;
}

h1 {
	font-family: 'Rounded';
}