@font-face {
  font-family: 'Rounded';
  src: font-url('erizi.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rounded2';
  src: font-url('rounded-x-mplus-1p-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'Rounded'!important;
  #background-color:cornsilk;
  
}

body {
    
  background-color:cornsilk;
  
}

h1 {
  font-family: 'Rounded';
}

p {
  font-size: 160%!important;
}

div{
  font-size: 160%;
}