body { 
    background-image: url(heart3.png);
    background-repeat: no-repeat;
    background-size: 900px 900px;
    background-position: 240px -50px;    
}

p {
    font-family: 'Rounded';
}