<h1>­ЪїЪТќ░сЂЌсЂёС║ѕт«џ­ЪїЪ</h1>
<div style="position:absolute; top:200px; left:310px;"><%= image_tag 'сѓ╣сЃєсЃЃсЃЌсѓ▒сѓбсЃъсЃЃсѓ»сѓ╣.gif',:width => 180  %></div>
<div style="position:absolute; top:140px; left:450px;"><%= image_tag 'С║ѕт«џсѓњУ┐йтіасЂЌсЂдсЂГ2.gif',:width => 180  %></div>


<%= render 'form', plan: @plan %>

<%= link_to 'Тѕ╗сѓІ', plans_path %>
