<div align="center" style="margin-top:170px;">
<h1>­ЪїЪТќ░сЂЌсЂёС║ѕт«џ­ЪїЪ</h1>
<div style="position:absolute; top:500px; left:260px;"><%= image_tag 'сѓ╣сЃєсЃЃсЃЌсѓ▒сѓбсЃъсЃЃсѓ»сѓ╣.gif',:width => 180  %></div>
<div style="position:absolute; top:420px; left:130px;"><%= image_tag 'тидтљ╣сЂЇтЄ║сЂЌ2.gif',:width => 180  %></div>


<%= render 'form', plan: @plan %>

<%= link_to 'Тѕ╗сѓІ', plans_path %>
